[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/abi-cache-service-sources.git
[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/abi-cache-service-output.git
